<!DOCTYPE html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
     <script src="app.js" type="text/javascript"></script>
     <script src="controller.js" type="text/javascript"></script>
     <link rel="stylesheet" type="text/css" href="style.css">

	<script type="text/javascript">
		initTags();
	</script>

</head>
<body>
	
	<div id="content" ng-app='RSSReaderApp' ng-controller='RSSReaderController'>

		<ul class="tabList">
			<li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.cont)}" ng-click="onClickTab(tab)">
				{{tab.title}}
			</li>
		</ul>
		<div class="tabContent">
			<div ng-include="currentTab"></div>
		</div>

		<script type="text/ng-template" id="tabCont1">
			<h3>Select a Feed</h3>
			<form action ng-click='feedInit()'>
				<select ng-model='selectedFeed' ng-options="feedSite.Name for feedSite in feedSites">
					<option value="">Choose Feed</option>
				</select>
				<!-- <button ng-click='feedInit()'>Initiate Feeds</button> -->
			</form>
			<br>
			
			<h3 id="feedTitle">{{selectedFeed.Name}}</h3>

			<ul>
				<li ng-repeat='post in selectedFeed.posts'>
					<a href={{post.URL}} target="_blank">{{post.Title}}</a>
				</li>
			</ul>
		</script>
		<script type="text/ng-template" id="tabCont2">
			<h3>Upload a Feed (xml format for now!)</h3>
			<form novalidate class="xmlUploadForm">
				Feed Name: <input type="text" ng-model="file.name"><br>
				Feed URL: <input type="file" ng-model="file.url">
			</form>
		</script>
	</div>

<!-- <div class="container" data-ng-controller="RSSReaderController" data-ng-init="defineTags()"> -->
	<article class="test-block">
		<h1 class="test-title">What color am I?</h1>
		<p>If green, the article is being recognized, if red it has not.</p>
	</article>
	<main class="test-block">
		<h1 class="test-title">What color am I?</h1>
		<p>If green, the main is being recognized, if red it has not.</p>
	</main>
	<section class="test-block">
		<h1 class="test-title">What color am I?</h1>
		<p>If green, the section is being recognized, if red it has not.</p>
	</section>

	<footer class="test-block">
		<h1 class="test-title">What color am I?</h1>
		<p>If green, the footer is being recognized, if red it has not.</p>
	</footer>
<!-- </div> -->

</body>
</html>