ul.tabList {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		display: block;
		float: left;
		padding: 5px 10px;
		margin: 0 5px;
		cursor: pointer;
		border: 1px solid #ccc;
		border-bottom: 0px;

		&.active {
			background-color: #ccc;
		}
	}
}

.tabContent {
	clear: both;
	padding: 5px;
	border: 1px solid #ccc;
}

/* Testing HTML5 tag in IE8 */
article {
	display: block;
}

#test-title {
	color: red;

	#test-block & {
		color: green;
	}
}